
.slider {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  padding-right: 0px;
  margin-top: -105px;
  padding-top: 140px;
  padding-bottom: 90px;
  background-repeat:no-repeat;
  overflow: hidden;


}



.slider_un {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10%;

  .slick-dots {
    list-style-type: none;
    li {
      display: inline-block;
    }

  }

  .slider_project {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    font-family: 'Playfair Display', serif;
  }
  div {
    text-align: left;
    .projet {
      position: absolute;
      top: 76%;
      padding-left: 10%;
      color: white;

    }
  h2 {
  position: absolute;
  top: 80%;
  text-align: left;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;


span {
  display: block;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-left: 10%;

}

  }
  span.prix {
    position: absolute;
    top: 88%;
    left: 40%;
    color: white;
    font-size: 25px;

  }

  .lien {
    position: absolute;
    top: 90%;
    color: white;
    font-size: 12px;
    padding-left: 10%;
  }
}
}

.slider_deux {
  display: block;
  width: 60%;
  height: 490px;
  box-shadow: 2px 2px 10px #000;
  .slick-prev{
    display: none!important;
  }
  .slick-next{
    right: 100%;
    top: 98%;
  }
.slider_print{
  background-position: center;
  height: 490px;



}
}



/* Onglets*/

#tabs { width: 90%; height: 600px; margin: 40px auto 0;  overflow: hidden; }
    .tabs-onglets { padding: 5px; float: left; width: 40%;}
    .tabs-onglets.right { float: right }
    .tabs-onglets a { display: block;font-size:25px; text-align: right;color: #85d1fa; text-decoration: none; padding: 0 10px; height: 30px; line-height: 30px; font-weight: 400;}
    .tabs-onglets a + a { margin-top: 5px }
    .tabs-onglets .selected, .tabs-onglets a:hover, a:active, a:focus {  color: #85d1fa;; margin-right: -5px; font-weight: 700;}
    .tabs-onglets.right .selected, .tabs-onglets.right a:hover { margin-right: 0; margin-left: -5px }
    #contenu {  height: 520px; width: 60%;overflow: hidden;text-align: right;}
    #contenu h1 { margin-top: 0 }
  #graphisme, #web, #enseigne, #redac, #video {padding-left: 50px;}
